@*@model Movie*@


<h2>Search By Title</h2>

<form action="SearchTitle" method="post">
    <label class="control-label"></label>
    <input type="text" class="form-control" name="title"/>
    
    <input type="submit" value="Search"/>
</form>

<h2>Search By Genre</h2>

<form action="SearchByGenre" method="post">
    <label class="control-label"></label>
    <input type="text" class="form-control" name="searchGenre"/>
    <span class="text-danger"></span>
    <input type="submit" >
</form>


<h2>Search By Movie ID</h2>

<form action="SearchByID" method="post">
    <label class="control-label"></label>
    <input class="form-control"  name="searchID"/>
    <span class="text-danger"></span>
    <input type="submit">
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}